header,
footer {
  background-color: #202020;
  color: #fff;
}

header a {
  color: #fff;
}

.cta-sale {
  background-color: #127300;
}














footer {
  text-align: center;
}

/* Home page */
.welcome {
  background-image: url("../images/home-header.jpg");
  }
