@font-face {
    font-family: "Sofia Pro";
    src: url("") format("truetype");
   
  }
  
  body {
    font-family: Sofia Pro, Verdana, Geneva, Tahoma, sans-serif;
  
    p {
        border: 2px solid powderblue;
        padding: 30px;
      }

  header,
footer {
  background-color: #202020;
  color: #fff;
}

header a {
  color: #fff;
}



  footer {
    text-align: center;
  }

  /* Home Page */
.welcome {
    background-image: url(../Home.jpg);
    background: size cover;
    background-repeat: no-repeat;
    min-height: 70vh;
  }