
  
  html{
    height: 100%;
    width: 100%;
    background-color: #3DD14B;
}
  body {
    font-family: Sofia Pro, Verdana, Geneva, Tahoma, sans-serif;
  
    p {
        border; 2px solid powderblue;
        padding; 30px
      }

  header,
  footer 
  {
  background-color: #202020
  color: #fff
}

header a {
  color: #fff
}



  footer {
    text-align: center
  }

 